/* Layout */
HTML,
BODY {
	padding: 0;
	margin: 0;
	height: 100%;
	background: url(../images/body-bg.jpg) no-repeat center center;
}
#contents {
	position: absolute;
	width: 820px;
	height: 557px;
	left: 50%;
	top: 50%;
	margin-left: -410px;
	margin-top: -310px;
	overflow: visible;
}
#canvas {
	width: 800px;
	height: 537px;
	border: 10px solid rgba(50, 100, 200, 0.5);
	border-radius: 10px;
}

/* Joystick */
.joystick {
	position: absolute;
	left: -140px;
	top: 0;
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.25);
	border: 5px solid rgba(255, 255, 0, 0.5);
	border-radius: 20px;
}
.joystick > A {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	background-color: rgba(255, 255, 0, 0.5);
	border-radius: 20px;
}

/* Debugging */
.debug-value {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	padding: 5px 10px;
	color: #FFF;
	left: 20px;
}
#commands {
	position: absolute;
	top: 20px;
	right: 20px;
	margin: 0;
	padding: 4px;
	max-height: 90%;
	list-style: none;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	overflow: hidden;
}
#commands > LI {
	width: 200px;
	padding: 5px 10px;
	margin: 1px 0 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
}
#commands > LI:first-child {
	margin-top: 0;
	border-radius: 3px 3px 0 0;
	background-color: rgba(0, 255, 0, 0.5);
}
#commands > LI:last-child {
	border-radius: 0 0 3px 3px;
}